{% extends "layout.twig" %}
{% block body %}
      <div class="all-title-box">
	<div class="container text-center">
		<h1>Courses<span class="m_1"></span></h1>
		
	</div>
</div>
	<div id="overviews" class="section wb">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 blog-post-single">
					<div class="row">
						{% if user.type == 1 %}
						<button type="button" class="btn btn-primary w-50 mb-4" data-bs-toggle="modal" data-bs-target="#exampleModal">Alt Kurs Ekle</button>
						{% endif %}
						<form action="/courses/create" method="post" enctype="multipart/form-data">
							<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
										<h1 class="modal-title fs-5" id="exampleModalLabel">Yeni Alt Kurs</h1>
										
												
											<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
											
										</div>
										<div class="modal-body">
											<form>
												<div class="mb-3">
													<label for="recipient-name" class="col-form-label">Kurs Adı:
													</label>
													<input type="text" class="form-control" id="course-name" name="name" required>
												</div>
												<div class="mb-3">
													<label for="message-text" class="col-form-label">Kurs Açıklaması:</label>
													<textarea class="form-control" id="course-desc" name="description" required></textarea>
												</div>
												<div class="mb-3">
													<label for="message-text" class="col-form-label">Kurs Resmi:</label>
													<input type="file" name="image" id="image">
												</div>
												<input type="hidden" name="parent" value="{{ parent }}">
											</form>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
											<button type="submit" class="btn btn-primary">Kaydet</button>
										</div>
									</div>
								</div>
							</div>
						</form>
						{% if courses.length > 0 %}
							{% for c in courses %}
								<div class="col-lg-6 col-md-6 col-12">
									<div class="course-item mb-5">
										<div class="image-blog">
											<img src=" {{ c.image ?? '/images/blog_2.jpg'}}" alt="" class="img-fluid">
										</div>
										<div class="course-br">
											<div class="course-title">
												<h2>
													<a href="course/{{ c.slug }}" title="">{{ c.name }}</a>
												</h2>
											</div>
											<div class="blog-desc">
												<p>{{ c.description }}</p>
											</div>
											{% if user.type == 0 %}
											<form action="/enroll" method="POST">
                                            <input type="hidden" name="courseId" value="{{ c._id }}">
                                            <button class="btn btn-primary">Kaydol</button>
                                            </form>
											{% endif %}
										</div>

										<div class="course-meta-bot">
											<ul>
												<li>
													<i class="fa fa-user" aria-hidden="true"></i>
													{{ c.owner }}</li>
											</ul>
										</div>
									</div>
								</div>
								<!-- end col -->
							{% endfor %}
						{% else %}
							<p>Kayıtlı Kurs Yok.</p>
						{% endif %}
					</div>
					<!-- end row -->

				</div>
				<!-- end col -->
				<div class="col-lg-3 col-12 right-single">
					<div class="widget-search">
						<div class="site-search-area">
							<form method="get" id="site-searchform" action="#">
								<div>
									<input class="input-text form-control" name="search-k" id="search-k" placeholder="Search keywords..." type="text">
									<input id="searchsubmit" value="Search" type="submit">
								</div>
							</form>
						</div>
					</div>
					<div class="widget-categories">
						<h3 class="widget-title">Categories</h3>
						<ul>
							<li><a href="#">Political Science</a></li>
							<li><a href="#">Business Leaders Guide</a></li>
							<li><a href="#">Become a Product Manage</a></li>
							<li><a href="#">Language Education</a></li>
							<li><a href="#">Micro Biology</a></li>
							<li><a href="#">Social Media Management</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- end row -->
		</div>
		<!-- end container -->
	</div>
	<!-- end section -->


	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-xs-12">
					<div class="widget clearfix">
						<div class="widget-title">
							<h3>About US</h3>
						</div>
						<p>
							Integer rutrum ligula eu dignissim laoreet. Pellentesque venenatis nibh sed tellus faucibus bibendum. Sed fermentum est vitae rhoncus molestie. Cum sociis natoque penatibus et magnis dis montes.</p>
						<div class="footer-right">
							<ul class="footer-links-soi">
								<li>
									<a href="#">
										<i class="fa fa-facebook"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-github"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-twitter"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-dribbble"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-pinterest"></i>
									</a>
								</li>
							</ul>
							<!-- end links -->
						</div>
					</div>
					<!-- end clearfix -->
				</div>
				<!-- end col -->

				<div class="col-lg-4 col-md-4 col-xs-12">
					<div class="widget clearfix">
						<div class="widget-title">
							<h3>Information Link</h3>
						</div>
						<ul class="footer-links">
							<li>
								<a href="#">Home</a>
							</li>
							<li>
								<a href="#">Blog</a>
							</li>
							<li>
								<a href="#">Pricing</a>
							</li>
							<li>
								<a href="#">About</a>
							</li>
							<li>
								<a href="#">Contact</a>
							</li>
						</ul>
						<!-- end links -->
					</div>
					<!-- end clearfix -->
				</div>
				<!-- end col -->

				<div class="col-lg-4 col-md-4 col-xs-12">
					<div class="widget clearfix">
						<div class="widget-title">
							<h3>Contact Details</h3>
						</div>

						<ul class="footer-links">
							<li>
								<a href="mailto:#">info@yoursite.com</a>
							</li>
							<li>
								<a href="#">www.yoursite.com</a>
							</li>
							<li>PO Box 16122 Collins Street West Victoria 8007 Australia</li>
							<li>+61 3 8376 6284</li>
						</ul>
						<!-- end links -->
					</div>
					<!-- end clearfix -->
				</div>
				<!-- end col -->

			</div>
			<!-- end row -->
		</div>
		<!-- end container -->
	</footer>
	<!-- end footer -->

	<div class="copyrights">
		<div class="container">
			<div class="footer-distributed">
				<div class="footer-center">
					<p class="footer-company-name">All Rights Reserved. &copy; 2018
						<a href="#">SmartEDU</a>
						Design By :
						<a href="https://html.design/">html design</a>
					</p>
				</div>
			</div>
		</div>
		<!-- end container -->
	</div>
	<!-- end copyrights -->

	<a href="#" id="scroll-to-top" class="dmtop global-radius">
		<i class="fa fa-angle-up"></i>
	</a>

	<!-- ALL JS FILES -->
	<script src="/js/all.js"></script>
	<!-- ALL PLUGINS -->
	<script src="/js/custom.js"></script>
</body></html>{% endblock %}
